.page__projects {
    display: block;
    width: auto;
    background: #076585; /* fallback for old browsers */
    background: -webkit-linear-gradient(210deg, #076585, #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #076585, #fff);
    font-family: 'Biotif', 'Zetafonts', Arial, sans-serif;
    color: #f3ffff;
    padding-top: 28px;
    margin: 0 auto;
    overscroll-behavior: none;
    overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

