.page {
    height: 80vh;
    background: rgb(174,205,229);
    font-family: 'Biotif', 'Zetafonts',Arial, sans-serif;
    color: #fff;
    overscroll-behavior: none;
    overflow-x: hidden;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

    /**background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;**/
}

/**@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 1280px) {
    .page {
        margin: 0 auto; 
    }
}**/