.about {
    padding: 210px 0 80px;
}

@media screen and (min-width: 501px) and (max-width: 550px) {
    .about {
        padding: 80px 0 40px;
    } 
} 

@media screen and (min-width: 330px) and (max-width: 500px) {
    .about {
        padding: 140px 0 80px;
    } 
}

@media screen and (max-width: 330px) {
    .about {
        padding: 90px 0 60px;
    } 
}