.profile {
    padding: 120px 0 160px;
}

@media screen and (max-width: 420px) {
    .profile {
        padding: 70px 0 40px;
    }
}

@media screen  and (max-width: 380px) {
    .profile {
        padding: 100px 0 40px;
    }
}

