.navigation-arrow {
    padding-top: 40px;
    background-image: url(../../images/increase.svg);
    background-size: contain;
    visibility: hidden;
}

.navigation-arrow:hover:active{
    background-image: url(../../images/arrow_color_down.svg);
}

@media screen and (min-width: 768px) and (max-width:770px){
    .navigation-arrow {
        visibility: visible;
        margin: 60px auto 0 auto;
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width: 375px) and (max-width: 500px) {
    .navigation-arrow {
        visibility: visible;
        margin: 30px auto 40px;
        width: 100px;
        height: 100px;
    }
}