.about__subtitle {
    font-family: 'Biotif';
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .8s ease-in-out;
}

@media screen and (min-width: 1000px) {
    .about__subtitle {
        padding-right: 2em;
    }
}

@media screen and (min-width: 544px) {
    .about__subtitle {
        margin: 1.3em 0 0;
    }
}