.title {
    font-family: 'Zetafonts';
    font-size: 3.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 4.5em;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 2.5em;
    }
}


