.link__underline {
  position: relative;
}
  
.link__underline:hover::after { 
  width: 100%; 
  left: 0; 
}
  
.link__underline::after {
  /**background: none repeat scroll 0 0 transparent;**/
  bottom: -8px;
  content: "";
  display: block;
  height: 3px;
  right: 0;
  position: absolute;
  display: block;
  color: #fff;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  transition: all .1s cubic-bezier(.175,.885,.32,1.275);
  transform: translate3d(0,5px, 0);
  width: 0;
}