.link {
    font-family: 'Biotif';
    font-size: 1.4em;
    cursor: pointer;
    text-decoration: none;
    color: #fff
}
 
@media screen and (min-width: 550px) and (max-width: 999px) {
    .link {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 320px) and (max-width: 549px) {
    .link {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 319px) {
    .link {
        font-size: 1.1em;
    }
}
