.header__image {
    background-image: url(../../../images/arctic-fox.svg);
    background-color: inherit;
    background-size: contain;
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 1300px) {
    .header__image {
        margin-right: 50%;
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width: 1000px)  and (max-width: 1299px) {
    .header__image {
        margin-right: 50%;
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 850px) and (max-width: 999px){
    .header__image {
        margin-right: 40%;
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width: 550px) and (max-width: 849px) {
    .header__image {
        margin-right: 30%;
    }
}

@media screen and (min-width: 421px) and (max-width: 549px) {
    .header__image {
        margin-right: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .header__image {
        margin-right: 0;
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 319px) {
    .header__image {
        margin-right: 0;
        width: 60px;
        height: 60px;
    }
}