.projects__pointers {
    position: absolute;
    width: 20%;
    height: 20%;
    background: #9cc1d1;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 0;
    color: rgb(70, 70, 70);
    font-size: 1.6rem;
    transition: all .4s;
}