.footer__image {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.footer__image:hover {
    background-color:  #7ec1d8;
    border-radius: 80%;
    transition: all 0.3s ease-in-out;
    box-shadow:  41px 41px 92px #7ec1d8,
             -41px -41px 92px #aaffff;
}

@media screen and (min-width: 889px) and (max-width: 1200px) {
    .footer__image {
        width: 30px;
        height: 30px;
    } 
    
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .footer__image {
        width: 25px;
        height: 25px;
    }  
}