.footer__image {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.footer__image:hover {
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 889px) and (max-width: 1200px) {
    .footer__image {
        width: 30px;
        height: 30px;
    } 
    
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .footer__image {
        width: 25px;
        height: 25px;
    }  
}