.header {
    position: static;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: content-box;
    padding: 30px 0 10px;
    background-color: inherit;
    z-index: 1;

    position: -webkit-sticky; /* Safari */
}


@media screen and (max-width: 550px) {
    .header {
        padding: 30px 0 10px;
    }   
}